<div class="col s12 m12 packagingorder-content" ng-controller="ordercardmove">
    <md-toolbar class="packaging-order-card _md _md-toolbar-transitions" id="packaging-order">
        <div class="md-toolbar-tools">
            <h2>
                <span>Packaging Order <br/>201671024</span>
            </h2>
            <span flex="" class="flex"></span>

            <md-button class="new-close-button md-icon-button md-button md-ink-ripple" data-id="csidenav"><i class="material-icons">more_vert</i></md-button>
            <md-button ng-click="closeSlideNav($event)" class="new-close-button md-icon-button md-button md-ink-ripple" data-id="csidenav"><i class="material-icons">cancel</i></md-button>

        </div>
    </md-toolbar>
    <md-content>
        <div class="card packaging-order-detail">
            <div class="card-content">
                <div class="packaging-order-content" content-scroll>
                    <div class="order-basic-detail">
                        <div class="row">
                            <div class="col s4">Recieved</div>
                            <div class="col s8"><span>12:56 PM 27.8.2016</span></div>
                        </div>
                        <div class="row">
                            <div class="col s4">Channel</div>
                            <div class="col s8"><span>FlipKart Shukiy</span></div>
                        </div>
                        <div class="row">
                            <div class="col s4">Seller ID</div>
                            <div class="col s8"><span>Test7842941</span></div>
                        </div>
                        <div class="row last-row">
                            <div class="col s4">Order ID</div>
                            <div class="col s8">
                                <span>xyz439642</span>
                            </div>
                        </div>
                    </div>
                    <div class="customer-detail">
                        <div class="row">
                            <div class="col s4">Customer</div>
                            <div class="col s8"><span>Maria Schmidt</span></div>
                        </div>
                        <div class="row">
                            <div class="col s4">Address</div>
                            <div class="col s8">
                                <span>492 Haven Shores Apt<br/>Potuino ,638</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">Country</div>
                            <div class="col s8"><span>Tesksxfg</span></div>
                        </div>
                        <div class="row">
                            <div class="col s4">Email</div>
                            <div class="col s8"><span>pietro_waeichi@hotmail.com</span></div>
                        </div>
                        <div class="row">
                            <div class="col s4">Phone</div>
                            <div class="col s8"><span>+44 512-333-0605</span></div>
                        </div>
                        <div class="row last-row">
                            <div class="col s4">Note</div>
                            <div class="col s8"><span>Leave By the Doorway</span></div>
                        </div>
                    </div>
                    <div class="order-product">
                        <div class="row">
                            <div class="col s4 product-image">
                                <img src="assets/images/order-product.png">
                            </div>
                            <div class="col s8">
                                <ul class="order-product-desc">
                                    <li>
                                        <span class="prod-checkbox"> 
                                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked">
                                            <label for="filled-in-box"></label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="product-name">MOFRED@ iphone7 [4.7 Inch]<br/>Tempered Glass Protector</span>
                                    </li>
                                    <li>By <span> MOFRED</span></li>
                                    <li>Quantity <span> 2 </span>(31)</li>
                                    <li>Color <span>Black</span></li>
                                    <li>Size <span>XL</span></li>
                                </ul>
                                <ul class="other-info">
                                    <li>Dimension :<span> w30 d50 h25</span></li>
                                    <li>Weight :<span> 2.5 Kg</span></li>
                                    <li>Warehouse locator :<span> D15 A</span></li>
                                    <li>Sku :<span> 574362195</span></li>
                                    <li>Barcode :<span> 7638194</span></li>

                                </ul>
                            </div>
                        </div>
                        <div class="row second-product">
                            <div class="col s4 product-image">
                                <img src="assets/images/watch.jpg">
                            </div>
                            <div class="col s8">
                                <ul class="order-product-desc">
                                    <li>
                                        <span class="prod-checkbox"> 
                                            <input type="checkbox" class="filled-in" id="filled-in-box2">
                                            <label for="filled-in-box2"></label>
                                        </span>                                        
                                    </li>
                                    <li>
                                        <span class="product-name">Garmin Forerunner 235 GPS</span>
                                    </li>
                                    <li>By <span> Garmin</span></li>
                                    <li>Quantity <span> 1 </span>(83)</li>
                                    <li>Color <span>Black / Frost Blue</span></li>
                                </ul>
                                <ul class="other-info">
                                    <li>Dimension :<span> w30 d50 h25</span></li>
                                    <li>Weight :<span> 2.5kg</span></li>
                                    <li>Warehouse locator :<span> D15 A</span></li>
                                    <li>Sku :<span> 574362195</span></li>
                                    <li>Barcode :<span> </span></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-total-detail">
                    <div class="order-total">
                        <div class="row">
                            <div class="col s12">
                                <span class="order-span">Total Product <span class="order-count"> 2 </span></span>|
                                <span class="order-span">Total Quantity <span class="order-count"> 3 </span></span> |
                                <span class="order-span">Total Weight <span class="order-count"> 5kg</span></span>
                            </div>

                        </div>
                    </div>

                    <div class="delivering-company">
                        <div class="row">
                            <div class="col s6 first-col">
                                <select class="browser-default">
                                    <option value="" selected>Choose your option</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <div class="col s6">
                                <input placeholder="Tracking Code" id="first_name" type="text" class="validate">
                            </div>
                        </div>
                        <div class="row package-order">
                            <div class="col s12">
                                <md-button ng-click="showpackageorderToast($event)" id="1" class="waves-effect waves-light btn packaging-btn remov-shadow">PRINT LABLE</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>